@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a {
        flex: 1 1 1;
    }

    .card {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 1;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

}