:root{
    font-family: 'Roboto', sans-serif;
    --primary-color: aliceblue;
    --flag-color-1: darkgreen;
    --flag-color-2: white;  
    --flag-color-3: red;
}

*{
    margin: 0;
	
	box-sizing: border-box;
}

.body-container{
    display: grid;
    grid-template:80px 1fr 80px / 1fr;
    
}

.main-container{
    display: grid;
    grid-template: 1fr 300px 200px / 1fr ;
}

.card{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 10% / 100%;
    
    
}

.card li {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    justify-items: left;
    gap: 1rem;
  
}

.card h2{
    margin: auto;
}
.weather h2::after {
    content: url("/images/sun_cloud_rain.svg");
    display: block;
    justify-self: center;
}


header{
    display:grid;
    align-items: center;
    background-color: var(--flag-color-1);
    color: var(--primary-color);
}

.place_title{
    justify-items: center;
    align-items: center;
}

.hero img {
	width: 100%;
	height: auto;
  }

footer{
    display: grid;
    background-color: var(--flag-color-3);
    color: var(--primary-color);
    font-weight: 500;
    justify-items: center;
    align-items: center;
}
